.header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  background: repeating-linear-gradient(
    -45deg,
    #d00462 0 10px,
    #622340 10px 20px
  );
  border-bottom: 1px solid #2a363b;
  box-shadow: 0px 1px 5px 0px #2a363b;
}
